* {
  margin: 0;
  padding: 0;
  color: inherit;
  list-style: none;
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* базовый 10px */
}

body {
  min-width: 320px;

}

h1,
h2,
h3,
.header,
.intro,
.btn,
.athlets-title,
.players-title,
.footer,
.download-app,
.subtitle,
.be-active-title,
.find-contact-title,
.work-it-title {
  text-transform: uppercase;
  font-weight: 700;
}


.header {
  position: relative;
  color: #ffffff;
  background-color: #0a0e34;
  padding-top: 32px;
  padding-bottom: 84px;
  background-image: url("../images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.header::before,
.footer::before {
  content: "";
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  width: 87.5%;
  /*  280/320*100  */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

}

.logo {
  display: block;
  width: 133px;
  margin: 0 auto;
}

.btn-svg,
.logo-svg {
  fill: #ffffff;
}

.header-intro {
  margin: 0 auto;
  text-align: left;
  max-width: 280px;
}

.intro {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 137px;
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 31px;
  padding-left: 0;
}

.intro-second-line {
  display: block;
  align-self: flex-start;
  margin-top: 31px;
  padding-left: 45px;
}

.header-link,
.footer-link {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  line-height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-link {
  margin-top: 90px;
}

.btn-download,
.btn-get-it {
  width: 280px;
  height: 35px;
  display: flex;
  font-size: 0.8rem;
  border-radius: 17px;
  background-color: #5e42b0;
  margin: 0 auto;
}

.btn-download {
  margin-bottom: 14px;
}

.btn-svg {
  width: 22px;
  padding: 6px 0;
  margin-left: 80px;
}

.btn-name {
  width: 100px;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 10px;
}

.btn-second-line {
  font-weight: 700;
}

/* --- начало main --- */

main {
  margin: 0;
}

.athlets,
.players {
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.athlets-content,
.players-content {
  position: relative;
  padding-bottom: 54px;
}

.athlets-title,
.players-title {
  margin: 0;
  font-size: 50px;
  color: #e7e7e7;
  text-align: left;
  padding: 0 20px 172px;
}

.athlets::after {
  width: 192px;
  height: 281px;
  content: "";
  background-image: url("../images/footballer_192.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 80px;
  right: 0;
  bottom: -50px;
  left: 50%;
  margin-left: -95px;
  z-index: 2;
}

.athlets-connection,
.athlets-collaboration,
.athlets-growth,
.players-connection,
.players-collaboration,
.players-growth {
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.athlets-connection,
.players-connection {
  background-color: #fafafa;
}

.athlets-collaboration,
.players-collaboration {
  background-color: rgba(94, 66, 176, 0.06);
}

.athlets-growth {
  background-color: rgba(94, 66, 176, 1);
  color: #ffffff;
}

.players-growth {
  background-color: #090c35;
  color: #ffffff;
}

.items {
  display: flex;
  align-items: flex-start;
  position: relative;

}

.item,
.item-growth {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
}

.athlets .item-growth {
  color: #000000;
}

.players .item-growth {
  color: #8765dd;
}

.item::after,
.item-growth::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 4px;
  border-radius: 1px;
  top: 24px;
  left: 0;
  right: 0;
  bottom: 0;
}

.item::after {
  background-color: #5e42b0;
}

.item-growth::after {
  background-color: #efefef;
}

.subtitle {
  font-size: 2.3rem;
  letter-spacing: 1px;
  line-height: 34px;
  color: #c1c1c1;
  margin-left: 11px;
}

.text,
.text-growth {
  font-size: 1.5rem;
  letter-spacing: 1px;
  line-height: 18px;
  margin-top: 27px;

}

.text-growth {
  color: #ffffff;
}

.players::after {
  width: 302px;
  height: 248px;
  content: "";
  background-image: url("../images/basketballer_302.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -150px;
  right: 0;
  bottom: 0;
  z-index: 2;
}

/* начало be-active*/


.be-active-content,
.find-contact-content,
.work-it-content {
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  padding-right: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 35px 20px 75px;
}

.be-active-title,
.find-contact-title,
.work-it-title {
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 34px;
  color: #e7e7e7;
  margin-bottom: 25px;
}

.be-active-text,
.find-contact-text,
.work-it-text {
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 20px;
}

.list,
.find-contact-list {
  width: 70px;
  height: 70px;
  display: flex;
  position: absolute;
  background-color: #5e42b0;
  top: -58px;
  left: 20px;
  right: 0;
  margin-left: 0;
  bottom: 0;
}

.list-item {
  margin: auto;
  font-size: 1.4rem;
  letter-spacing: 1px;
  color: #f5f6f7;
  font-weight: 700;
}

.list-item::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  opacity: 0.3;
  top: 45px;
  left: auto;
  margin-left: -17px;
}

/* --- начало footer --- */


.footer {
  position: relative;
  color: #ffffff;
  background-color: #0a0e34;
  padding-top: 100px;
  padding-bottom: 10px;
  background-image: url("../images/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.btn-logo {
  display: block;
  width: 72px;
  border-radius: 20%;
  background: linear-gradient(#5e3db3, #50329c);
  margin-left: auto;
  margin-right: auto;
}

.download-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 60px auto 75px;
  font-size: 3.2rem;
}

.text-second-line {
  font-size: 1.4rem;
  color: #9b8ec1;
  font-weight: 400;
}

.footer-link {
  margin-bottom: 130px;
}

/*

@media (min-width: 641px) and (max-width: 960px) {


  .header {
    padding-top: 37px;
    padding-bottom: 90px;
    background-image: url("../images/football_1280.jpg");
  }

  .container {
    width: 97.66%;
    /*  750/768*100 */
  }
/*
  .logo {
    display: block;
    width: 205px;
  }

  .intro {
    width: 600px;
    margin: 181px auto 0;
    font-size: 6.4rem;
    line-height: 62px;
    letter-spacing: 3.52px;
    padding-left: 80px;
  }

  .intro-second-line {
    display: block;
    align-self: flex-start;
    padding-left: 105px;
    letter-spacing: 4px;
  }

  .header-link,
  .footer-link {
    display: flex;
    justify-content: space-between;

  }

  .header-link {
    margin-top: 312px;
  }

  .btn-download,
  .btn-get-it {
    width: 308px;
    height: 77px;
    border-radius: 38px;
    background-color: #5e42b0;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.4rem;
    letter-spacing: 0.7px;
    margin: 0;
  }

  .btn-download {
    margin-bottom: 14px;
  }

  .btn-svg {
    width: 41px;

    margin-left: 50px;
  }

  .btn-name {
    width: 152px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    margin-left: 26px;
  }

  .btn-second-line {
    display: block;
    font-weight: 700;
  }

  /* --- начало main --- */ /*

  main {
    margin: 0;
  }

  .athlets,
  .players {
    padding-top: 85px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .athlets-content,
  .players-content {
    /*  position: relative;*/
  }
/*
  .athlets-title,
  .players-title {
    font-size: 8rem;
    line-height: 60px;
    color: #e7e7e7;
    text-align: left;
  }

  .athlets-title {
    padding-left: 291px;
  }

  .athlets::after {
    width: 64.7vw;
    height: auto;
    content: "";
    background-image: url("../images/footballer_497.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 94px;
    right: 50%;
    bottom: 20px;
    left: 0;
    margin-left: auto;
    z-index: 2;
  }

  .athlets-connection,
  .athlets-collaboration,
  .athlets-growth,
  .players-connection,
  .players-collaboration,
  .players-growth {
    padding-top: 42px;
  }

  .athlets-connection,
  .athlets-collaboration,
  .athlets-growth {
    padding-left: 230px;
  }

  .players-title {
    padding-left: 24px;
  }

  .players-connection,
  .players-collaboration,
  .players-growth {
    padding-left: 25px;
  }

  .athlets-collaboration,
  .players-collaboration {
    background-color: rgba(94, 66, 176, 0.06);
  }

  .athlets-growth {
    background-color: rgba(94, 66, 176, 1);
    color: #ffffff;
  }

  .players-growth {
    background-color: #090c35;
    color: #ffffff;
  }


  .items {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0;
  }

  .item,
  .item-growth {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 34px;
  }

  .athlets .item-growth {
    color: #000000;
  }

  .players .item-growth {
    color: #8765dd;
  }

  .item::after,
  .item-growth::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 5px;
    border-radius: 2px;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .item::after {
    background-color: #5e42b0;
  }

  .item-growth::after {
    background-color: #efefef;
  }

  .subtitle {
    font-size: 3.2rem;
    letter-spacing: 1.6px;
    color: #c1c1c1;
    padding-left: 11px;
    margin: 0;
  }

  .text,
  .text-growth {
    width: 390px;

    font-size: 1.6rem;
    letter-spacing: 0.8px;
    margin-top: 32px;
    padding-bottom: 36px;
  }

  .text-growth {
    color: #ffffff;
  }

  .players::after {
    width: auto;
    height: auto;
    content: "";
    background-image: url("../images/basketballer_436.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 39px;
    left: 50%;
    margin-right: auto;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  /* начало be-active*/

/*
  .be-active-content,
  .find-contact-content,
  .work-it-content {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    padding-right: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 90px 32px 97px;
  }

  .be-active-title,
  .find-contact-title,
  .work-it-title {
    font-size: 8rem;
    letter-spacing: 1px;
    line-height: 60px;
    color: #e7e7e7;
    padding-bottom: 37px;
  }

  .be-active-text,
  .find-contact-text,
  .work-it-text {
    /* width: 662px;*/    /*
    font-size: 2.4rem;
    letter-spacing: 1.2px;
    line-height: 28px;
  }

  .list,
  .find-contact-list {
    width: 70px;
    height: 70px;
    position: absolute;
    background-color: #5e42b0;
    top: -58px;
    left: 20px;
    right: 0;
    margin-left: 0;
    bottom: 0;
  }

  .list-item {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 50%;
    margin-left: -8px;
    margin-top: 13px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 34px;
    color: #f5f6f7;
    font-weight: 700;
  }

  .list-item::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 4px;
    border-radius: 1px;
    background-color: #ffffff;
    opacity: 0.3;
    top: 28px;
    left: 1px;
  }

  /* --- начало footer --- */
/*

  .footer {
    position: relative;
    color: #ffffff;
    background-color: #0a0e34;
    padding-top: 126px;
    padding-bottom: 24px;
    background-image: url("../images/game_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
/*
  .download-app {
    /* width: 703px;*/    /*
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 287px;
    background: transparent;
    border: 0;
  }

  .btn-logo {
    width: 130px;
    border-radius: 20%;
    background: linear-gradient(#5e3db3, #50329c);
  }

  .download-text {
    margin: 0;
    padding-top: 82px;
    font-size: 8rem;
    letter-spacing: 3.2px;
    color: #ffffff;
  }

  .text-second-line {
    color: #a496ca;
    font-size: 3.6rem;
    font-weight: 400;
    display: block;
    letter-spacing: 0.1px;
  }

  .footer-link {
    align-items: center;
    margin-bottom: 130px;
  }

}

/*
@media (min-width: 961px) {

  .header {
    position: relative;
    color: #ffffff;
    background-color: #0a0e34;
    padding-top: 45px;
    padding-bottom: 110px;
    background-image: url("../images/football_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .header::after,
  .footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .container {
    z-index: 1;
    width: 1560px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    display: block;
    width: 191px;
    margin: 0 auto;
  }

  .btn-svg,
  .logo-svg {
    fill: #ffffff;
  }

  .intro {
    display: block;
    margin-top: 295px;
    margin-left: auto;
    margin-right: auto;
    font-size: 9rem;
    font-weight: 700;
    letter-spacing: 4.96px;
  }

  .intro-second-line {
    display: block;
    text-align: right;
  }

  .header-link,
  .footer-link {
    width: 672px;
    margin: 0 auto;
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 14px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }

  .header-link {
    margin-top: 222px;
  }

  .btn-download,
  .btn-get-it {
    width: 311px;
    height: 77px;
    border-radius: 38px;
    background-color: #5e42b0;
    display: flex;
    cursor: pointer;
    margin: auto 0;
  }

  .btn-svg {
    width: 42px;
    padding-left: 38px;
  }


  .btn-name {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 28px;
    line-height: 20px;
    list-style: none;
    color: #ffffff;
    padding: 0;
  }

  .btn-second-line {
    font-weight: 700;
  }



  main {
    font-family: OpenSans, Arial, sans-serif;
  }

  .athlets,
  .players {
    padding-top: 56px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .athlets::after {
    width: 566px;
    height: 908px;
    content: "";
    background-image: url("../images/footballer_566.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 27px;
    left: 50%;
    margin-left: -600px;
    right: 0;
    bottom: -50px;
    z-index: 3
  }

  .players::after {
    width: 991px;
    content: "";
    background-image: url("../images/basketballer_991.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 23px;
    left: 50%;
    margin-left: -160px;
    right: 0;
    bottom: 36px;
    z-index: 3
  }

  .athlets-connection,
  .athlets-collaboration,
  .athlets-growth,
  .athlets-title {
    padding-right: 15px;
    background-color: #ffffff;
  }

  .athlets-content,
  .players-content {
    width: 760px;
    padding: 60px 0 55px 50px;
    position: relative;
    left: 50%;
  }

  .players-content {
    margin-left: -820px;
  }

  .athlets-collaboration,
  .players-collaboration {
    background-color: rgba(94, 66, 176, 0.06);
  }

  .athlets-growth {
    background-color: rgba(94, 66, 176, 1);
    color: #ffffff;
  }

  .players-growth {
    background-color: #0a0e34;
    color: #ffffff;
  }

  .athlets-title,
  .players-title,
  .be-active-title,
  .find-contact-title,
  .work-it-title {
    margin: 0;
    font-size: 8rem;
    color: #e7e7e7;
    text-align: left;
  }

  .items {
    display: flex;
    align-items: flex-start;
    position: relative;
    margin: 0;
  }

  .item {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-weight: 700;
    text-align: center;
  }

  .item::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .item-growth::after {
    position: absolute;
    content: "";
    width: 21px;
    height: 5px;
    border-radius: 2px;
    background-color: #efefef;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .subtitle {
    font-size: 3.6rem;
    letter-spacing: 2px;
    line-height: 34px;
    color: #c1c1c1;
    font-weight: 700;
    padding-left: 11px;
    margin: 0;
  }

  .text {
    font-size: 2rem;
    letter-spacing: 1px;
    color: #000000;
    padding-top: 31px;
    margin: 0;
  }

  .text-growth {
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 31px 0 55px;
    margin: 0;
  }

  .be-active,
  .work-it,
  .find-contact {
    width: 1920px;
    height: 730px;
    margin: 0 auto;
    display: flex;
    text-align: left;
  }

  .pic {
    width: 960px;
  }

  .be-active-pic,
  .work-it-pic {
    position: relative;
    top: 0;
    right: 0;
    left: -50%;
    margin-left: 480px;
    bottom: 0;
  }

  .find-contact div:nth-child(1) {
    order: 1;
  }

  .find-contact-pic {
    position: relative;
    top: 0;
    right: 0;
    left: 50%;
    margin-left: -340px;
    bottom: 0;
  }

  .be-active-content,
  .find-contact-content,
  .work-it-content {
    width: 660px;
    position: relative;
    margin-top: 261px;
    margin-left: 130px;
    padding-right: 30px;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
  }

  .list {
    width: 168px;
    height: 155px;
    position: absolute;
    background-color: #5e42b0;
    top: -20px;
    left: -50%;
    right: 0;
    margin-left: 134px;
    bottom: 0;
  }

  .find-contact-list {
    width: 168px;
    height: 155px;
    position: absolute;
    background-color: #5e42b0;
    top: -20px;
    left: 100%;
    margin-left: 60px;
    right: 0;
    bottom: 0;
  }

  .list-item {
    position: absolute;
    font-size: 2.4rem;
    letter-spacing: 1px;
    line-height: 34px;
    color: #ffffff;
    font-weight: 700;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -18px;
    margin-top: -18px;
  }

  .list-item::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
    top: 34px;
    left: 2px;
  }

  .be-active-text,
  .find-contact-text,
  .work-it-text {
    font-size: 2.4rem;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    padding-top: 118px;
    padding-right: 26px;
    margin: 0;
  }

  .footer {
    position: relative;
    color: #ffffff;
    background-color: #0a0e34;
    padding-top: 229px;
    padding-bottom: 52px;
    background-image: url("../images/game_1920.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .download-app {
    width: 871px;
    height: 137px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 151px;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  .logo-svg:hover,
  .logo:hover,
  .btn-download:hover,
  .btn-get-it:hover {
    -moz-box-shadow: inset 0 0 10px #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
    box-shadow: inset 0 0 10px #ffffff;
    text-shadow: 3px 3px 4px #000000;
  }

  .btn-logo {
    width: 130px;
    border-radius: 20%;
    background: linear-gradient(#5e3db3, #50329c);
  }

  .download-text {
    width: 736px;
    margin: 0;
    color: #ffffff;
    margin-left: 26px;
    text-align: left;
    list-style: none;
    font-size: 8rem;
    letter-spacing: 4px;
    font-weight: 700;
  }

  .text-second-line {
    display: block;
    font-size: 3rem;
    letter-spacing: 0;
    font-weight: 400;
    color: #a496ca;
  }

  .footer-link {
    margin-bottom: 262px;
  }
}
