@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: "OpenSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  color: #ffffff;
  background-color: #0a0e34;
  padding-top: 45px;
  padding-bottom: 110px;
  background-image: url("../images/football_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header,
.athlets-title,
.players-title,
.footer,
.download-app,
.subtitle,
.be-active-title {
  text-transform: uppercase;
}

.header::after,
.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  z-index: 1;
  width: 1560px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.header-logo,
.footer-logo {
  display: block;
  width: 191px;
  margin: 0 auto;
}

.surface-logo-text,
.btn-download-logo,
.btn-get-it-logo,
.surface-logo {
  fill: #ffffff;
}

.intro {
  display: block;
  margin-top: 295px;
  margin-left: auto;
  margin-right: auto;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 5px;
}

.intro-second-line {
  display: block;
  text-align: right;
}

.header-link,
.footer-link {
  width: 676px;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.header-link {
  margin-top: 222px;

}

.btn-download,
.btn-get-it {
  width: 311px;
  height: 77px;
  border-radius: 38px;
  background-color: #5e42b0;
  display: flex;
  cursor: pointer;
  margin: auto 0;
}

.btn-download-logo,
.btn-get-it-logo {
  width: 42px;
  padding-left: 38px;
}


.btn-name {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 26px;
  line-height: 20px;
  list-style: none;
  color: #ffffff;
  padding: 0;
}

.btn-second-line {
  font-weight: 700;
}

/* --- начало main --- */

main {
  font-family: OpenSans, Arial, sans-serif;
  margin: 0;
}

.athlets,
.players {
  margin: 116px auto 0;
  position: relative;
}

.athlets::after {
  content: "";
  background-image: url("../images/footballer_566.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -80px;
  left: 50%;
  margin-left: -600px;
  right: 0;
  bottom: -50px;
  z-index: 3
}

.players::after {
  width: 991px;
  content: "";
  background-image: url("../images/basketballer_991.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -110px;
  left: 50%;
  margin-left: -160px;
  right: 0;
  bottom: 50px;
  z-index: 3
}

.athlets-connection,
.athlets-collaboration,
.athlets-growth,
.athlets-title {
  padding-right: 15px;
  background-color: #ffffff;
}

.athlets-content,
.players-content {
  width: 760px;
  padding-left: 50px;
  position: relative;
  left: 50%;
}

.players-content {
  margin-left: -820px;
}


.athlets-collaboration,
.players-collaboration {
  background-color: rgba(94, 66, 176, 0.06);
}

.athlets-growth {
  background-color: rgba(94, 66, 176, 1);
  color: #ffffff;
}

.players-growth {
  background-color: #0a0e34;
  color: #ffffff;
}

.athlets-title,
.players-title,
.be-active-title {
  margin: 0;
  font-size: 80px;
  color: #e7e7e7;
  text-align: left;
}

.items {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-top: 60px;
  margin: 0;
}

.item {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.item::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
  left: 0;
  right: 0;
  bottom: 0;
}

.item-growth::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #efefef;
  left: 0;
  right: 0;
  bottom: 0;
}

.subtitle {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 34px;
  color: #c1c1c1;
  font-weight: 700;
  padding-left: 11px;
  margin: 0;
}

.text {
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  padding: 31px 0 55px;
  margin: 0;
}

.text-growth {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 31px 0 55px;
  margin: 0;
}

.be-active {
  width: 1560px;
  margin: 0 auto;
  display: flex;

}

.pic {
  width: 960px;
  height: 730px;
}

.be-active-pic {
  position: relative;
  top: 0;
  left: -50%;
  margin-left: 300px;
  right: 0;
  bottom: 0px;
}

.be-active-content {
  width: 670px;
  position: relative;
  margin-top: 261px;

}


.list {
  width: 168px;
  height: 155px;
  position: absolute;
  background-color: #5e42b0;
  top: -20px;
  left: -50%;
  right: 0;
  margin-left: 40px;
  bottom: 0;
}

.list-item {

  position: absolute;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #ffffff;
  font-weight: 700;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -18px;
  margin-top: -18px;

}

.list-item::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0.3;
  top: 34px;
  left: 2px;
}








/* --- начало footer --- */
.footer {
  position: relative;
  color: #ffffff;
  background-color: #0a0e34;
  padding-top: 229px;
  padding-bottom: 52px;
  background-image: url("../images/game_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.download-app {
  width: 871px;
  height: 137px;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 151px;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.header-logo:hover,
.footer-logo:hover,
.download-app:hover,
.btn-download:hover,
.btn-get-it:hover {
  -moz-box-shadow: inset 0 0 10px #ffffff;
  -webkit-box-shadow: inset 0 0 10px #ffffff;
  box-shadow: inset 0 0 10px #ffffff;
  text-shadow: 3px 3px 4px #000000;

}

.btn-logo {
  width: 130px;
  border-radius: 20%;
  background: linear-gradient(#5e3db3, #50329c);
}

.download-text {
  width: 736px;
  margin: 0;
  color: #ffffff;
  margin-left: 26px;
  text-align: left;
  list-style: none;
  font-size: 80px;
  letter-spacing: 4px;
  font-weight: 700;
}

.text-second-line {
  display: block;
  font-size: 30px;
  letter-spacing: 0;
  font-weight: 400;
  color: #a496ca;

}

.footer-link {
  margin-bottom: 262px;
}
