@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(/fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

/*html {
  font-family: OpenSans, Arial, sans-serif;
}*/


.header {
  position: relative;
  color: #ffffff;
  background-color: #0a0e34;
  padding-top: 45px;
  background-image: url("/images/football_1920.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.header::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  text-transform: uppercase;
}

.container {
  z-index: 1;
  width: 1557px;
  position: relative;
  margin: auto;
  margin-right: auto;
}

.logo-top {
  width: 191px;
  margin: 0 auto;
}

.header-logo {
  fill: #ffffff;
}

.intro {
  display: block;
  margin: 0 auto;
  padding-top: 295px;
  font-size: 90px;
  font-weight: 700;
  /*line-height: 35px;*/
  letter-spacing: 5px;
}

.intro-first-line {
  text-align: left;
}

.intro-second-line {
  text-align: right;
}


.link {
  width: 673px;
  height: 100;
  background-color: aqua;
  margin: 0 auto;
  padding-top: 222px;
  padding-bottom: 110px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

}



.btn-top {
  width: 673px;
  margin: 0 auto;
  padding-top: 222px;
  padding-bottom: 110px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.btn-download,
.btn-get-it {
  width: 311px;
  height: 77px;
  border-radius: 38px;
  background-color: #5e42b0;
  display: flex;
  cursor: pointer;
}

.btn-download-logo {
  width: 42px;
  padding-left: 38px;
  margin: auto 0;
}

.btn-get-it-logo {
  width: 42px;
  padding-left: 56px;
  margin: auto 0;
}

.btn-name {
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding-left: 26px;
}

.btn-second-line {
  font-weight: 700;
}

body {
  font-family: OpenSans, Arial, sans-serif;
  margin: 0;
}
